.payment{
    width: 90%;
    height: fit-content;
    background-color: #464646;
    border-radius: 5px;
    margin: 20px auto;
}
.Raw{
    width: 90%;
    display: flex;
    color: white;
    height: fit-content;
    border-bottom: 1px solid white;
    margin: 5px auto;
    padding: 10px 0 0 0;
}

.text{
    text-align: left;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.price{
    flex: 1;
    text-align: right;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.bottom{
    margin:50px 0 0 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px ;
}

.totalText{
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    line-height: 5px;
    margin-top: 20px;
}

.totalPrice{
    background-color: #CAC9CA;
    width: 60%;
    border-radius: 20px;
    line-height: 5px;
}