.mainOuter{
    display: flex;
}
.FoodContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.FoodCorner{
    flex: 1;
    margin: 0;
    padding: 5px;
}

.left{
    width: 65vw;
}

.list{
    width: 100%;
    height: 25vh;
}
.listContainer{
    width: 30%;
}

.right{
    flex: 1;
    padding-right: 5px;
}

.box{
    height: 100px;
    width: 200px;
    background-image: -webkit-linear-gradient(white,blue);
}