.customerDetails{
    width: 100%;
    margin-top: 20px;
}

.label{
    width: fit-content;
    display: flex;
    margin: 5px;
    background-color: #DA4D4D;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'poppins';
    font-weight: 300;
    font-size: 12px;
}

.name{
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 5px;
    margin: 20px 0 0 0;
    padding: 0;
}

.id{
    color: white;
    font-family: 'poppins';
    font-weight: 200;
    font-size: 10px;
}