.list>ul{
    list-style: none;
    text-align: left;
    line-height: 30px;
}

.list>ul>li>a{
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 15px;
    margin: 10px 0;
    background:none;
    border: none;
    text-align: left;

}

.list>ul>li>a>div:hover{
    cursor: pointer;
    background-color: #464646;
}

.list>ul>li>a>div{
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
}
