.outer{
    background-color: aquamarine;
    width: 10vw;
    height: 9vw;
    border-radius: 10px;
    display: flex;
    position: relative;
    padding: 10px 10px;
    margin: 0 10px 5px 15px;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

/* .outer:hover{
    background-color: red;
} */

.mainTitle{
    font-family: 'Poppins';
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
    
}

.titleHolder{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60%;
    text-align: left;
    line-height: 1;
}

.subTitle{
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    color: #4d4d4d;
}

.breakfast_img{
    width: 20%;
    height: 20%;
    position: absolute;
}